.frontPic{
    width:100%;
    padding: 40px;
    
vertical-align: middle;
    
}
.headermain-p{
    font-size: 20px!important;
    margin-top: 40px;
    color: #9c9c9c;
    width: 80%;
    margin-left: 12%;
}