
#daraz-collapse{
    margin-left: 60% !important;
  
 
}
.navbar-brand{
    font-size: 50px !important;
    padding-left: 50px;
    line-height: 20px;
}
.navbar-nav li {
    color: gray !important;
}
.navbar-toggler-icon{
    background: gray !important;
    color: black;
}
.navbar-nav .nav-link {
    
    color: rgb(70, 67, 67);
}
.about{
    border-bottom: 2px solid #ffa500;
}